<% currentLeague = League.find(params[:id]) %>
<% users = currentLeague.users %>
<h1><%=currentLeague.name %></h1>
<h3>Owner: <%= User.find(currentLeague.creator_id).name %></h3>
<!-- 
<td><%= button_to "Logout", user_path(id: "sign_out"), :class => "button small", :method => :delete %></td>
<td><%= button_to "View User", user_path(id: current_user.id), :class => "button small", :method => :get %></td> -->
<div class="container">

    <h3>Members</h3>
      <table class="table">
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

</div>
<% if current_user.id == currentLeague.creator_id %>
  <td><%= button_to "Delete League", delete_league_path(id: currentLeague), :class => "button medium", :method => :patch %></td>
<% end %>
