<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<td><%= button_to "Record Match", new_match_path, :class => "button medium", :method => :get %></td>
<td><%= button_to "View Leagues", leagues_path, :class => "button medium", :method => :get %></td>
<div><%= button_to "Create League", new_league_path, :class => "button medium", :method => :get %></div>
